
    //Outfit import
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
    //Primaries
    $color-soft: hsl(215, 51%, 70%);
    $color-cyan:hsl(178, 100%, 50%);
    //Neutrals
    $color-main-bg: rgb(13, 25, 43);
    $color-card-bg: hsl(216, 50%, 16%);
    $border: hsl(215, 32%, 27%);
    $white: hsl(0, 0%, 100%);

    //fonts

    //font-family
    $font-300: 300 18px outfit, sans-serif;
    $font-400: 400 18px outfit, sans-serif;
    $font-600: 600 18px outfit, sans-serif;